<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="AngularJS" stopProcessing="true">
                    <match url="assets\/*|/*.js|/*.js.map|/*.css|/*.map|/*.woff2|/*.woff|/*.svg|/*.ttf|/*.eot|index.html"/>
                    <action type="None"/>
                </rule>
                <rule name="AngularJS2">
                    <match url=".*"/>
                    <action type="Rewrite" url="index.html"/>
                </rule>
            </rules>
        </rewrite>
        <httpProtocol>
            <customHeaders>
                <add name="X-Content-Type-Options" value="nosniff"/>
            </customHeaders>
        </httpProtocol>
        <staticContent>
            <mimeMap fileExtension=".svg" mimeType="image/svg+xml"/>
            <mimeMap fileExtension=".mp4" mimeType="video/mp4"/>
            <mimeMap fileExtension=".webm" mimeType="video/webm"/>
            <mimeMap fileExtension=".ogm" mimeType="video/ogv"/>
            <mimeMap fileExtension=".woff" mimeType="font/woff2"/>
            <mimeMap fileExtension=".woff2" mimeType="font/woff2"/>
            <mimeMap fileExtension=".js.min" mimeType="text/javascript"/>
            <mimeMap fileExtension=".json" mimeType="application/json"/>
            <mimeMap fileExtension=".js.map" mimeType="application/json"/>
        </staticContent>
    </system.webServer>
</configuration>
