:host {
    --height__card-header: 64px;
    --font-size__card-header: 30px;
}

.c-consulta-documentos-internos {
    padding: 32px 32px 32px;
    min-height: calc(100vh - var(--height__header));
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 16px;
    box-shadow: none;
    //justify-content: space-around;

    mat-card-header {
        position: relative;
        width: 100%;
        box-shadow: 0px 5px 10px #00000029;
        min-height: var(--height__card-header);
        padding-left: 20px;
        padding-right: 20px;
        ::ng-deep .mat-card-header-text {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            margin: 0 calc(10px + 32px + 5px);
            mat-card-title {
                font-size: clamp(18px, 2.5vw, var(--font-size__card-header));
                line-height: var(--font-size__card-header);
                text-align: center;
                margin-bottom: 0;
            }
        }

        .go-back-btn {
            transform: translateY(-50%);
            position: absolute;
            left: 32px;
            top: 50%;
            z-index: 5;
        
            height: 32px;
            width: 32px;

            display: flex;
            align-items: center;
            justify-content: center;

            .mat-button-wrapper {
                padding: 0;
            }
        
            mat-icon {
                font-size: 24px !important;
                height: 24px !important;
                width: 24px !important;
            }
        }
    }
    mat-card-content {
        //width: calc(100% - 2 * var(--padding__page));
        width: 100%;
    }
}