:root {
  --main-color: #339900;
  --main-color__hover: hsl(100, 100%, 26%);
  --secondary-color: #99CC66;
  --text-color-main: #666666;
  --faint-color: hsl(0, 0%, 80%);
  --height__header: 64px;
  --padding__page: clamp(20px, 8vw, 181px);
}
